# Git
.git
.gitignore

# Python caching
**/__pycache__/
**/*.pyc
**/*.pyo
**/*.pyd

# Environments and dependencies
.venv/
env/
venv/
ENV/

# Testing and coverage
.pytest_cache/
.coverage
htmlcov/

# IDEs and OS files
.vscode/
.idea/
.DS_Store




.ruff_cache
__pycache__
*.pyc


.env.*



