# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.pytest_cache/
.ruff_cache/

# Virtual environments
.venv/
venv/

# Environment files
.env

# Pytest
.pytest_cache/

# Ruff
.ruff_cache/

# Coverage
.coverage
htmlcov/