APP_NAME=Obabueki Capital API
DATABASE_URL=postgresql+psycopg://pgsqladmin:ObabuekiDev2026Secure!@psql-obabueki-capital-dev.postgres.database.azure.com:5432/obabueki_capital?sslmode=require
ENVIRONMENT=development
DEBUG=true

SECRET_KEY=your-secret-key-here
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256