APP_NAME=Obabueki Capital API
DATABASE_URL=postgresql+psycopg://postgres:postgres@localhost:5432/obabueki
ENVIRONMENT=development
DEBUG=true

SECRET_KEY=your-secret-key-here
ACCESS_TOKEN_EXPIRE_MINUTES=30
ALGORITHM=HS256